<div class="jumbotron">
	<h2> TDapp free and easy </h2>
	<br>
	<h4> Trusted by millions. Best online to do list available here</h4>
	<br>
	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger" %>
</div>